# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
backend/.venv/
.venv/
venv/

# Environment files
.env

# Data folders
data/uploads/*
!data/uploads/.gitkeep

data/chroma_db/*
!data/chroma_db/.gitkeep

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log